.cover-page
  .container
    .row
      .header.group
        .fourcol
          .iphone-for-desktop
            .iphone
        .eightcol.last
          .page-center
            .block
              .logo
            .block
              .logo-name
            .block
              %h2 Get quick information about the local food, hotels and destinations around you
            .download-links.download-section-for-mobile
              %a.download-link.ios{:href => "#"}
              %a.download-link.google{:href => "#"}
            .iphone-for-mobile
              .iphone-cut
          .download-links
            %a.download-link.ios{:href => "#"}
            %a.download-link.google{:href => "#"}
