!!!
%html
  %head
    %title Locamotive - Cebu's Local Interactive Directory
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
